# Android & Gradle
.gradle/
build/
*.apk
*.aar
*.ap_

# Android Studio & IntelliJ IDE
.idea/
*.iml
.navigation/
captures/
.externalNativeBuild/
.cxx/
local.properties

# OS & Logs
.DS_Store
*.log

# Web client
node_modules/
dist/
.env
